{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="errorwrapper">
            <div class="container_1">
                <div class="code_container">
                    <p>Код ошибки: 403</p>
                </div>
                <div class="error_container">
                    <p> Доступ запрещен. Зарегестрируйтесь или войдите на сайт. </p>
                </div>
            </div>
            <div class="container_2">
                <div class="logostyle">
                    <p><a href="https://napomnim.com/"> napomnim.com </a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
